@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.had {
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) url(computer.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    height: 145px;
    width: 100%;
    color: beige;
    display: flex;
    align-items: center;
}

.nav-bar:hover {
    background: grey;
}

.cont {
    display: flex;
    justify-content: center;
    margin: 49px;
}
.img {
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 2px;
    justify-content: left;
    border-top-right-radius: 85px;
    background-color: #9797bcba;
    border-bottom-left-radius: 41px;
    border-bottom-right-radius: 44px;
}

#img {
    width: 100px;
    height: 100px;
    border: 2px solid #6D4C41;
    border-radius: 56px;
    margin: 15px
}
.link{
    width: 46%;
    text-align: center;
}

.link a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 9px;
    border-radius: 7px;
    font-size: 20px;
}

.link a:hover {
    background-color: green;
}

.text-big {
    font-size: 41px;
    text-align: center;
    text-transform: capitalize;
}

.text-small {
    font-size: 20px;
}

.content {
    height: 330px;
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.Left {
    flex-direction: row-reverse;
    font-family: 'Ubuntu', sans-serif;

}

.paras {
    padding: 0 65px;
}

.tumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 24px;
    margin-top: 19px;
}

.para {
    width: 700px;
    position: absolute;
    top: 300px;
}

.para h1 {
    color: red;
    margin: 2px;
    text-align: center;
}

.para p {
    color: #fff;
}

.list {
    list-style-type: inherit;
    margin: 19px;
}

.list a {
    text-decoration: none;
}

.img h1 {
    font-style: italic;
    color: white;
}

.sup h1 p {
    width: 500px;
}

.sup img {
    float: right;
    border: 11px solid black;
    border-radius: 42px;
}
.foot{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    background-color: gray;
}
